<div class="sidebar-menu toggle-others fixed">
    <div class="sidebar-menu-inner">
        <header class="logo-env">
            <!-- logo -->
            <div class="logo">
                <a href="/" class="logo-expanded">
                    <img src="/static/img/logo2x.png" width="100%" alt="" />
                </a>
                <a href="/" class="logo-collapsed">
                    <img src="/static/img/logo-collapsed2x.png" width="40" alt="" />
                </a>
            </div>
            <div class="mobile-menu-toggle visible-xs">
                <a href="#" data-toggle="user-info-menu">
                    <i class="linecons-cog"></i>
                </a>
                <a href="#" data-toggle="mobile-menu">
                    <i class="fa-bars"></i>
                </a>
            </div>
        </header>
        <ul id="main-menu" class="main-menu">
            <li v-for="title in titles"  :class="(title.children ==null || title.children.length == 0) ? '' : 'has-sub'">
                <template v-if="title.children ==null || title.children.length == 0" >
                    <a :href="['#' + title.name]" class="smooth">
                        <i class="fa fa-fw" :class="title.icon"></i>
                        <span class="title">{{title.name}}</span>
                    </a>
                </template>
                <template v-else>
                    <a v-on:click="clickExpand">
                        <i class="fa fa-fw" :class="title.icon"></i>
                        <span class="title">{{title.name}}</span>
                    </a>
                    </a>
                    <ul>
                        <li v-for="subTitle in title.children">
                            <a :href="['#' + subTitle.name]" class="smooth">
                                <span class="title">{{subTitle.name}}</span>
                            </a>
                        </li>
                    </ul>
                </template>
            </li>
            <div class="submit-tag">
                <a href="/about">
                    <i class="linecons-heart"></i>
                    <span class="tooltip-blue">关于本站</span>
                    <span class="label label-Primary pull-right hidden-collapsed">♥︎</span>
                </a>
            </div>
        </ul>
    </div>
</div>
<script >
    var searchVal = $("#type-zhannei").val();
    $(function() {
        //取单项数据，用于渲染页面
        EZUI.cloud.GET( rootPath+"/search?title="+searchVal , {},
            function(result) {
                var data = result.data;
                var categorySiteList = data.categorySiteList;
                var titles = data.titles;
                var vueForm = new Vue({
                    el : '#main-menu',
                    data : {
                        categorySiteList : categorySiteList,
                        titles : titles,
                    },
                    methods :{
                        clickExpand:function (ev){
                            ev.preventDefault();
                            var $li = $(ev.currentTarget).parent('li');
                            var $sub = $li.children('ul');
                            var toggle_others = public_vars.$sidebarMenu.hasClass('toggle-others');
                            if(toggle_others)
                            {
                                sidebar_menu_close_items_siblings($li);
                            }

                            if($li.hasClass('expanded') || $li.hasClass('opened'))
                                sidebar_menu_item_collapse($li, $sub);
                            else
                                sidebar_menu_item_expand($li, $sub);
                        }
                    },
                    computed :{

                    },
                    filters :{

                    }
                });
            });
    });
</script>